# ------------------------------------------------
# APP
# ------------------------------------------------

PUBLIC_SITE_URL=http://localhost:4321
PUBLIC_APP_NAME=FlexAI
NODE_ENV=development


# ------------------------------------------------
# SUPABASE
# ------------------------------------------------

PUBLIC_SUPABASE_URL=
PUBLIC_SUPABASE_PUBLISHABLE_KEY=
SUPABASE_SECRET_KEY=


# ------------------------------------------------
# STRIPE
# ------------------------------------------------

PUBLIC_STRIPE_PUBLISHABLE_KEY=
STRIPE_SECRET_KEY=
STRIPE_WEBHOOK_SECRET=
STRIPE_CURRENCY=usd
MINIMUM_BID_CENTS=200


# ------------------------------------------------
# EMAIL / RESEND
# ------------------------------------------------

RESEND_API_KEY=
EMAIL_FROM=FlexAI <hello@flexai.lol>


# ------------------------------------------------
# CLOUDFLARE TURNSTILE
# ------------------------------------------------

PUBLIC_TURNSTILE_SITE_KEY=
TURNSTILE_SECRET_KEY=


# ------------------------------------------------
# POSTHOG
# ------------------------------------------------

PUBLIC_POSTHOG_KEY=
PUBLIC_POSTHOG_HOST=https://us.i.posthog.com


# ------------------------------------------------
# SENTRY
# ------------------------------------------------

PUBLIC_SENTRY_DSN=
SENTRY_AUTH_TOKEN=


# ------------------------------------------------
# INTERNAL SECURITY
# ------------------------------------------------

CRON_SECRET=flexai-cron-secret-2026
ADMIN_SECRET=flexai-admin-master-key-2026
IP_HASH_SALT=flexai-salt-development-key-3482
